/* =====================
    ly_header
===================== */
.ly_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  background-color: transparent;
  @include mediaQuery(fromTablet) {
    padding: 40px;
  }

  .is_br {
    display: none;
    @media screen and (min-width:421px) and (max-width:460px) {
      display: block;
    }
  }

  .ly_header_title {
    position: relative;
    z-index: 1;
    margin-right: auto;
    font-weight: normal;
    flex: 0 0 auto;
  }

  /* =====================
      bl_headerNav
  ===================== */
  .bl_headerNav {
    position: relative;
    z-index: 1;

    &_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_item {
      cursor: pointer;
      display: inline-block;
      flex: 0 0 auto;
      font-size: 1.8rem;
      letter-spacing: .1em;
      margin-right: 3rem;
      transition: opacity .3s;
      &:last-child {
        margin: 0 0 0 30px;
        @media screen and (min-width:421px) and (max-width:460px) {
          margin: 0;
        }
      }
      @include mediaQuery(fromTablet) {
        font-size: 2.4rem;
      }
      &:hover {
        &:not(:last-child) {
          opacity: .6;
        }
      }
      &__instagram.is_hide {
        display: none;
      }
      &:not(.bl_headerNav_item__both) {
        @include mediaQuery(mobileOnly) {
          display: none;
        }
      }

      > a {
        transition: color .3s;
      }
    }

    &_btn {
      position: relative;
      width: 25px;
      height: 15px;
      @include mediaQuery(fromTablet) {
        width: 50px;
        height: 20px;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
      }
      &:before {
        bottom: 0;
        transition: transform .4s ease, bottom .4s ease;
      }
      &:after {
        top: 0;
        transition: transform .4s ease, top .4s ease;
      }

      &.is_close:before {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
      }
      &.is_close:after {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
    }
  }
  /* end bl_headerNav
  ===================== */


  /* =====================
      bl_hamburgerMenu
  ===================== */
  .bl_hamburgerMenu {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    transition: bottom .3s;

    &_list {
      text-align: center;
      font-family: "futura_m";
    }

    &_item {
      overflow: hidden;
      font-size: 4.4rem;
      letter-spacing: .1em;
      text-shadow: 0 3px 20px rgba(0,0,0,.3);
      margin-top: 3.4rem;
      &:first-child {
        margin-top: 0;
      }
      @include mediaQuery(tabletOnly){
        font-size: 7.4rem;
        margin-top: 7.5rem;
        text-shadow: 0 10px 20px rgba(0,0,0,.3);
      }
      @include mediaQuery(desktop){
        font-size: 12rem;
        margin-top: 6.5rem;
        padding-top: 1rem;
        text-shadow: 0 10px 20px rgba(0,0,0,.3);
      }
    }

    &_link {
      position: relative;
      top: 50px;
      transition: top .3s .4s;
      @include mediaQuery(tabletOnly) {
        top: 74px;
      }
      @include mediaQuery(desktop) {
        top: 130px;
        &:hover:after {
          width: 100%;
        }
        &:after {
          content: '';
          position: absolute;
          top: 40%;
          left: 0;
          width: 0;
          height: 10px;
          background-color: #fff;
          transition: width .3s linear;
        }
      }
    }

    &_icon {
      font-size: 2rem;
      &:nth-child(odd) {
        margin-right: 25px;
      }
    }
  }

  // メニューオープン時
  .bl_hamburgerMenu.is_open {
    bottom: 0;

    .bl_hamburgerMenu_link {
      top: 0;
    }
  }

  // テキストカラー 変更用
  &.is_intersection {
    .bl_headerNav_item > a {
      color: $black;
    }
    .bl_headerNav_btn:before,
    .bl_headerNav_btn:after {
      background-color: $black;
    }
  }

  &.is_open {
    .bl_headerNav_item > a {
      color: #fff;
    }
    .bl_headerNav_btn:before,
    .bl_headerNav_btn:after {
      background-color: #fff;
    }
  }
  /* end bl_hamburgerMenu
  ===================== */

  /* =====================
      bl_curtain
  ===================== */
  .bl_curtain {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: $curtain;
    &.is_active {
      animation: curtaing 1.5s ease-in-out forwards;
      @keyframes curtaing {
        0% {
          transform: translateY(100%);
        }
        40% {
          transform: translateY(0);
        }
        60% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-100%);
        }
      }
    }
  }
  /* end bl_curtain
  ===================== */
}
/* end ly_header
===================== */